* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  width: 100%;
  background-color: #121212;
}

.nav-proper > button {
  display: none;
}

.nav-proper > img {
  width: 20%;
}

.nav-items {
  width: 40%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-item{
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
}

.banner > img {
  width: 100%;
}

#restouran{
  padding: 5%;
}

.restoItem{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2% 3%;
}
.resto{
  border: 1px solid rebeccapurple;
}

.resto > img{
  width: 100%;
  height: 34vh;

}

.resto-container{
  padding: 3% 6%;
}

.resto-container > h2{
  font-size: 3vh;
  text-align: center;
}

.resto-desc{
  text-align: justify;
  margin-bottom: 7%;
  font-size: 2.4vh;
}

.resto-info{
  text-align: center;
  font-size: 2.3vh;
}


/* Mobile Design */
@media screen and (min-width: 320px) and (max-width: 480px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    background-color: #121212;
  }

  .nav-proper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-proper > button {
    display: inline;
    padding: 0.6%;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 6px;
  }

  .nav-proper > img {
    width: 18%;
  }

  .nav-items {
    display: none;
  }

  .nav-items.active {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    animation-name: nav-active;
    animation-duration: 0.5s;
  }

  .banner > img {
    width: 100%;
  }

  .restoItem {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  @keyframes nav-active {
    from {
      transform: translateY(-50%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}


.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}
 
.skip-link:focus {
   top: 0;
}